<%-include('./partials/header')%>
<div class="body_blog">
<div class="container">
  <h1>Home</h1>
  <p><%= homeContent %></p> 
</div>
<p><%#= {posts} %></p> 

<%# posts.forEach( (Element)=>{ %>
 <h1><%= posts.title %></h1>
<%# if((Element.message).length>100){%>
 <p><%= (posts.message).substring(0,100)+"..." %> <a href="posts/<%=posts.title%>">Read More</a></p>
 
</div>
<%- include('./partials/footer')%>


